# ElasticEmail.VerificationStatus

## Enum


* `Processing` (value: `"Processing"`)

* `Ready` (value: `"Ready"`)

* `Expired` (value: `"Expired"`)

* `Verified` (value: `"Verified"`)

* `Error` (value: `"Error"`)


